:root {

    --fs-lg: 40px;
    --fs-md: 25px;
    --fs-sm: 24px;
    --fs-ss: 16px;
    --fs-xsm: 14px;

    --color-bg_clr: #F6F0E2;
    --color-black: #000000;
    --color-yellow: #FFD600;
    --color-green: #3EB53D;
    --color-red: #FF0000;

}

.bg_clr {
    background-color: var(--color-bg_clr);
}

.black {
    color: var(--color-black) !important;
}

.yellow {
    background-color: var(--color-yellow) !important;
}

.green {
    color: var(--color-green) !important;
}

.red {
    color: var(--color-red) !important;
}

/* font_size */



.fs_lg {
    font-size: var(--fs-lg);
}

.fs_md {
    font-size: var(--fs-md);
}

.fs_sm {
    font-size: var(--fs-sm);
}

.fs_ss {
    font-size: var(--fs-ss);
}

.fs_xsm {
    font-size: var(--fs-xsm);
}


/* font_w */
.fw_00 {
    font-weight: 300;
}

.fw_400 {
    font-weight: 400;
}

.fw_500 {
    font-weight: 500;
}

.fw_600 {
    font-weight: 600;
}

@media (min-width:576px) {
    :root {

        --fs-lg: 60px;
        --fs-md: 30px;
        --fs-sm: 16px;
        --fs-ss: 14px;
    }
}

@media (min-width:768px) {

    :root {

        --fs-lg: 80px;
        --fs-md: 36px;
        --fs-sm: 16px;
        --fs-ss: 14px;
    }
}